.logo{
  width: 13%;
  height: 13%;
  margin: 10px 0 10px 15px;
}
.header{
  background: url(../images/45484.jpg) no-repeat;
  /* content: url(../images/design1_image1.jpg); */
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  border: solid black;
  background-size: cover;
}
.list ul li{
  border-right: 2px solid;
  margin: 20px 0 35px 15px;
  font-size: 110%;
  border-spacing: 2px;
}
.list ul li a{
  color: black;
}
.header h1{
  height: 190px;
}
.header h1 a{
  color: white;
  text-decoration: none;
  font-size: 120%;
  -webkit-text-stroke: 1px black;
}
.tab h2{
  margin-left: 70px;
  font-size: 180%;
  position: relative;
}
.events h2{
  margin-top: 20px;
}
.events p{
  margin-left: 25px;
}
.list{
  width: 20%;
}
.main1{
  width: 80%;
}
.events{
  padding-top: 25px;
  padding-left: 20px;
}
.tables h2{
  margin-top: 20px;
}
.tables{
  padding-top: 25px;
  padding-left: 40px;
}
.tables p{
  margin-bottom: 30px;
}
.tab{
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.headLine{
  text-align: center;
}
.subTitle{
  position: absolute;
  top: 350px;
  left: 257px;
}
.events ol li{
  margin-top: 15px;
}
.special{
  text-decoration: underline;
  font-weight: normal;
}
.dates{
  width: 70%;
  margin-bottom: 50px;
}
#locations{
  width: 70%;
  margin-bottom: 50px;
}
#con{
  width: 100%;
}
.main{
  display: flex;
  flex-direction: row;
}
